<template name="quiz_eot">
  <body>
    <nav class="teal lighten-2 z-depth-2">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Health</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/Doctor"><i class="material-icons prefix">account_circle</i></a></li>

        </ul>
        <ul  id="slide-out" class="side-nav  ">
          <li><a href="#!">Quiz</a></li>
          <li><a href="#!">Login</a></li>
        </ul>
        <a href="/signup"  ><i class="material-icons prefix">chevron_left</i></a>

      </div>
    </nav>

    <div  class="fade" style="margin-left:10%; margin-right:10%;margin-top:5%">

      <form>
        <p>When I have a problem, I want to know where it comes from and not just talk about it </p>
        <p>
          <input class="with-gap" name="group1" type="radio" id="test1" value="0"/>
          <label for="test1">not true</label>
        </p>
        <p>
          <input class="with-gap"  name="group1" type="radio" id="test2" value="1"/>
          <label for="test2">a bit true</label>
        </p>
        <p>
          <input class="with-gap" name="group1" type="radio"  id="test3" value="2"  />
          <label for="test3">true</label>
        </p>
        <p>  Id rather wait and see what happens, instead of thinking about why things happen</p>
        <p>
          <input class="with-gap" name="group2" type="radio" id="test4" value="0"/>
          <label for="test4">not true</label>
        </p>
        <p>
            <input class="with-gap"  name="group2" type="radio" id="test5" value="1"/>
          <label for="test5">a bit true</label>
        </p>
        <p>
          <input class="with-gap" name="group2" type="radio" id="test6" value="2"/>
          <label for="test6">true</label>
        </p>
        <p> It is important to understand how you feel inside</p>
        <p>
          <input class="with-gap" name="group3" type="radio" id="test7" value="0"/>
          <label for="test7">not true</label>
        </p>
        <p>
          <input class="with-gap"  name="group3" type="radio" id="test8" value="1"/>
          <label for="test8">a bit true</label>
        </p>
        <p>
          <input class="with-gap" name="group3" type="radio" id="test9" value="2"/>
          <label for="test9">true</label>
        </p>
        <p> I prefer talking to people about everyday things, rather than about how they feel</p>
        <p>
          <input class="with-gap" name="group4" type="radio" id="test10" value="0"/>
          <label for="test10">not true</label>
        </p>
        <p>
          <input class="with-gap"  name="group4" type="radio" id="test11" value="1"/>
          <label for="test11">a bit true</label>
        </p>
        <p>
          <input class="with-gap" name="group4" type="radio" id="test12" value="2"/>
          <label for="test12">true</label>
        </p>
        <p> I prefer watching funny television programmes, rather than films that tell a story about
other peoples problems</p>
        <p>
          <input class="with-gap" name="group5" type="radio" id="test13" value="0"/>
          <label for="test13">not true</label>
        </p>
        <p>
          <input class="with-gap"  name="group5" type="radio" id="test14" value="1"/>
          <label for="test14">a bit true</label>
        </p>
        <p>
          <input class="with-gap" name="group5" type="radio" id="test15" value="2"/>
          <label for="test15">true</label>
        </p>
        <p> I can feel close to someone, even when we are sitting still and not saying anything</p>
        <p>
          <input class="with-gap" name="group6" type="radio" id="test16" value="0"/>
          <label for="test16">not true</label>
        </p>
        <p>
          <input class="with-gap"  name="group6" type="radio" id="test17" value="1"/>
          <label for="test17">a bit true</label>
        </p>
        <p>
          <input class="with-gap" name="group6" type="radio" id="test18" value="2"/>
          <label for="test18">true</label>
        </p>
        <p>  Thinking about how I feel, helps me when I want to do something about my problems</p>
        <p>
          <input class="with-gap" name="group7" type="radio" id="test19" value="0"/>
          <label for="test19">not true</label>
        </p>
        <p>
          <input class="with-gap"  name="group7" type="radio" id="test20" value="1"/>
          <label for="test20">a bit true</label>
        </p>
        <p>
          <input class="with-gap" name="group7" type="radio" id="test21" value="2"/>
          <label for="test21">true</label>
        </p>
        <p>  When I have to concentrate on a film to understand the story, I enjoy the film much less</p>
        <p>
          <input class="with-gap" name="group8" type="radio" id="test22" value="0"/>
          <label for="test22">not true</label>
        </p>
        <p>
          <input class="with-gap"  name="group8" type="radio" id="test23" value="1"/>
          <label for="test23">a bit true</label>
        </p>
        <p>
          <input class="with-gap" name="group8" type="radio" id="test24" value="2"/>
          <label for="test24">true</label>
        </p>

      </form>

      <a quiz button class="waves-effect waves-light btn" style="float:right">next</a>

    </div>
    <script type="text/json">

    </script>
    <script type="text/javascript">
    //mobile menu

    $('.button-collapse').sideNav({
      menuWidth: 240, // Default is 240
      edge: 'right', // Choose the horizontal origin
      closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );

  </script>
</body>


</template>
