<template name="quiz">
  <body>
    <nav class="teal lighten-2 z-depth-2">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Health</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/Doctor"><i class="material-icons prefix">account_circle</i></a></li>

        </ul>
        <ul  id="slide-out" class="side-nav  ">
          <li><a href="#!">Quiz</a></li>
          <li><a href="#!">Login</a></li>
        </ul>
        <a href="/signup"  ><i class="material-icons prefix">chevron_left</i></a>

      </div>
    </nav>

    <div  class="fade" style="margin-top:5%">

<!--next Answer-->
               <div id="q1" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
                     I am often confused about the<br> way I am feeling inside
                  1   </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue1  class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a bittrue1 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true1   class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>


               <!--next Answer-->

               <div id="q2" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
                    I find it difficult to say how I feel inside
                       2   </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue2 class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a  bittrue2 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true2 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>
               <!--next Answer-->


               <div id="q3" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
I feel things in my <br>body that even doctors dont <br>understand                    3 </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue3  class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a bittrue3 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true3   class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->


               <div id="q4" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
                  I can easily say how I feel inside
                    4   </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue4 class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a  bittrue4 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true4 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->

               <div id="q5" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
When I have a problem, I want <br>to know where it comes from<br> and not just talk about it
                5     </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue5  class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a bittrue5 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true5   class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>


               <!--next Answer-->

               <div id="q6" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
When I am upset, <br>I dont know if I am sad, <br>scared or angry
                6     </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue6 class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a  bittrue6 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true6   class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>
               <!--next Answer-->


               <div id="q7" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
 I am often puzzled by things<br> that I feel in my body
                  7   </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue7  class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a bittrue7 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true7   class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->


               <div id="q8" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
Id rather wait and see<br> what happens, instead of <br>thinking about why things happen
                8     </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue8 class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a  bittrue8 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true8 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->

               <div id="q9" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
. Sometimes I cant find the words<br> to say how I feel inside
              9       </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue9  class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a bittrue9 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true9   class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->


               <div id="q10" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
It is important to understand<br> how you feel inside
              10       </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue10 class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a  bittrue10 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true10 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->

               <div id="q11" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
I find it hard to say<br> how I feel about other people
              11       </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue11  class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a bittrue11 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true11   class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->


               <div id="q12" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
Other people tell me<br> that I should talkmore about<br> how I feel inside
              12       </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue12 class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a  bittrue12 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true12 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->

               <div id="q13" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
I dont know whats going on inside me
                13     </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue13  class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a bittrue13 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true13   class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->


               <div id="q14" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
 I often dont know why I am angry
                14     </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue14 class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a  bittrue14 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true14 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->

               <div id="q15" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
I prefer talking to people<br> about everyday things,<br> rather than about how they feel
              15       </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue15  class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a bittrue15 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true15   class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>


               <!--next Answer-->

               <div id="q16" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
                     I prefer watching funny<br> television programmes,<br> rather than films that tell <br>a story about
                    <br> other peoples problems
                16     </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue16 class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a  bittrue16 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true16 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->

               <div id="q17" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
It is difficult for <br>me to say how I really feel <br>inside, even to my best friend
                17     </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue17  class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a bittrue17 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true17   class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>


               <!--next Answer-->

               <div id="q18" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
I can feel close to <br>someone, even when we are sitting <br>still and not saying anything
                18     </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue18 class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a  bittrue18 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true18 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>

               <!--next Answer-->

               <div id="q19" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
Thinking about how I<br> feel, helps me when I want<br> to do something about my problems
              19       </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue19  class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a bittrue19 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true19   class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>


               <!--next Answer-->

               <div id="q20" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
When I have to concentrate <br>on a film to understand <br>the story, I enjoy the film much less
              20       </p>
                     <p class="bubble">Whats wrong mikasa?
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <a nottrue20 class="waves-effect waves-light btn-large col 4" style="width:32%">
                     <i class="material-icons left"><img  src="images/sad.png" /></i>not true
                   </a>
                   <a  bittrue20 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/net.png"  /></i>bit true
                   </a>
                   <a true20 class="waves-effect waves-light btn-large col s4" style="width:32%">
                     <i class="material-icons left"><img src="images/smile.png"  /></i>  true
                    </a>



                 </div>
               </div>
               <!--next Answer-->


               <div id="q21" class=" card teal lighten-2 z-depth-2 " style="margin-left:25%; margin-right:25%">

                 <div class="row">
                   <div class="col s12" ><p class="bubble" style="float:right">
                      Thanks for telling me how you feel
                      </p>
                     <p class="bubble">Click end to end this test
                     </p>
                   </div>

                   <div class="col s12">
                     <img src="images/levi.png"    height="35%" width="35%" />
                     <img src="images/mikasa.png" style="float:right"   height="35%" width="35%" />
                   </div>

                 </div >

                 <div class="card-action teal lighten-0 z-depth-2"  >
                   <button end class="button  waves-effect waves-light btn-large col 4" >End</button>



                 </div>
               </div>





















    </div>
    <script type="text/json">

    </script>
    <script type="text/javascript">
    //mobile menu
    $("#q2").hide();
    $("#q3").hide();
    $("#q4").hide();
    $("#q5").hide();
    $("#q6").hide();
    $("#q7").hide();
    $("#q8").hide();
    $("#q9").hide();
    $("#q10").hide();
    $("#q11").hide();
    $("#q12").hide();
    $("#q13").hide();
    $("#q14").hide();
    $("#q15").hide();
    $("#q16").hide();
    $("#q17").hide();
    $("#q18").hide();
    $("#q19").hide();
    $("#q20").hide();
    $("#q21").hide();
    $("#q22").hide();



    $('.button-collapse').sideNav({
      menuWidth: 240, // Default is 240
      edge: 'right', // Choose the horizontal origin
      closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );

  </script>
</body>





</template>
