<template name="signup">
  <body>
    <nav class="teal lighten-2 z-depth-2">
   <div class="nav-wrapper">
     <a href="/" class="brand-logo center">Health</a>
     <ul class="right hide-on-med-and-down">
       <li><a href="/Doctor"><i class="material-icons prefix">account_circle</i></a></li>

     </ul>
     <ul  id="slide-out" class="side-nav  ">
       <li><a href="#!">Quiz</a></li>
       <li><a href="#!">Login</a></li>
     </ul>
     <a href="/"  ><i class="material-icons prefix">chevron_left</i></a>

   </div>
 </nav>


    <div class="z-depth-2" style="margin-left:10%; margin-right:10%;margin-top:5%">


      <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input  id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
        </div>

          <div class="input-field col s12 ">
            <i class="material-icons prefix">account_circle</i>
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">phone</i>

            <input id="phone" type="text" class="validate">
            <label for="phone">telephone</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>

            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>

    <!-- Modal Trigger -->
    <button class="btn waves-effect waves-light " type="submit" href="#modal1" trigger1 style="float:right">Submit
        <i class="material-icons right">send</i>
      </button>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer" >
      <div class="modal-content">
        <h4>SOFTWARE LICENSE AGREEMENT</h4>
        <p>The Software may contain third party software which requires notices and/or additional terms and conditions.
           Such required third party software notices and/or additional terms and conditions are made a part of and
           incorporated by reference into this EULA. By accepting this EULA, you are also accepting the additional terms
           and conditions, if any, set forth therein.
        </p>
      </div>
      <div class="modal-footer">
        <a quiz class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        <a href="/" class="modal-action modal-close waves-effect waves-green btn-flat ">Disagree</a>

      </div>
    </div>
        </div>
      </form>
    </div>
      </div>

  </body>


  <script type="text/javascript">
  $(document).ready(function(){
// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
});
  </script>
  <script type="text/javascript">
    //mobile menu

  $('.button-collapse').sideNav({
      menuWidth: 240, // Default is 240
      edge: 'right', // Choose the horizontal origin
      closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );

  </script>
</template>
